.interrogationChat {
    border: 3px solid var(--accent-6);
}
.accordionTrigger {
    border: 1px solid var(--accent-6);
}
.timerBox {
    border-right: 1px solid var(--accent-6);
    border-bottom: 1px solid var(--accent-6);
    border-top: none;
    border-left: none;
}

.accordionTrigger:hover {

        background-color: var(--accent-6);
}

.fade-enter {
    opacity: 0;
  }
.fade-enter-active {
opacity: 1;
transition: opacity 1000ms ease-in;
}
.fade-exit {
opacity: 1;
}
.fade-exit-active {
opacity: 0;
transition: opacity 1000ms ease-out;
}