.interrogationChat {
    border: 3px solid var(--accent-6);
}

.timerBox, .accordionTrigger {
    border: 1px solid var(--accent-6);
}

.accordionTrigger:hover {

        background-color: var(--accent-6);
}

.fade-enter {
    opacity: 0;
  }
.fade-enter-active {
opacity: 1;
transition: opacity 1000ms ease-in;
}
.fade-exit {
opacity: 1;
}
.fade-exit-active {
opacity: 0;
transition: opacity 1000ms ease-out;
}